n8n/AI_Content_Creator_Agent-GeminiAI.json
{
  "name": "AI Content Creator Agent",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "1703b9de-1b76-4f5b-add4-edb8eb6f7b99",
      "name": "Daily Content Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        240,
        304
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1sL2pPvHiDDCk9DAROL-ppI-tHcno58z4z4NPw_m8zP4",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sL2pPvHiDDCk9DAROL-ppI-tHcno58z4z4NPw_m8zP4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sL2pPvHiDDCk9DAROL-ppI-tHcno58z4z4NPw_m8zP4/edit#gid=0"
        },
        "options": {}
      },
      "id": "74428425-acfb-4c53-8252-3621572d0b12",
      "name": "Fetch Pending Topic",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        464,
        304
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZQNrwvulmTZvS1cK",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $json['Topic '] }}",
              "operator": {
                "type": "string",
                "operation": "exists"
              },
              "rightValue": ""
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c602100c-a507-4d07-985e-386757b312f0",
      "name": "Check Topic Exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        688,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\"api_key\": \"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\", \"query\": $json[\"Topic \"], \"search_depth\": \"advanced\", \"max_results\": 5} }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "a3ff42df-dc24-4a7d-8250-f88e1e8e7295",
      "name": "Tavily Research",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        912,
        208
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "5YedbmAPa2yvLQVf",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "research_data",
        "include": "specifiedFields",
        "fieldsToInclude": "results",
        "options": {}
      },
      "id": "9bdfb839-2a8f-4b2e-965c-fec4bb334d40",
      "name": "Aggregate Research Data",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1136,
        208
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "topic",
              "value": "={{ $(\"Fetch Pending Topic\").first().json[\"Topic \"] }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "research_summary",
              "value": "={{ $json.research_data?.[0]?.results?.map(r => r.title + \": \" + r.content).join(\"\\n\\n\") ?? \"No research data available\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "54ef0279-c60a-4b63-a2f7-c885da80791e",
      "name": "Prepare Research Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1360,
        208
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are a professional LinkedIn content creator. Create engaging, professional posts that:\n- Start with a compelling hook\n- Use clear paragraphs with line breaks\n- Include relevant insights and actionable takeaways\n- End with a thought-provoking question\n- Use 2-3 relevant hashtags\n- Keep it between 150-200 words\n- Maintain a professional yet conversational tone"
            },
            {
              "content": "={{ \"Topic: \" + $json.topic + \"\\n\\nResearch Context:\\n\" + $json.research_summary + \"\\n\\nCreate a LinkedIn post about this topic.\" }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "maxTokens": 500,
          "temperature": 0.7
        }
      },
      "id": "3cdf8a49-5de5-4496-a58e-d2e1f0450e03",
      "name": "Generate LinkedIn Post",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        1584,
        208
      ],
      "credentials": {
        "openAiApi": {
          "id": "YHkpRJIsBiAhVDWb",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are a social media expert for X (Twitter). Create concise, engaging posts that:\n- Are under 280 characters\n- Start with a strong hook or insight\n- Use 1-2 relevant hashtags\n- Include an emoji for visual appeal\n- Are punchy and shareable\n- Drive engagement"
            },
            {
              "content": "={{ \"Topic: \" + $(\"Prepare Research Context\").item.json.topic + \"\\n\\nResearch Context:\\n\" + $(\"Prepare Research Context\").item.json.research_summary + \"\\n\\nCreate a tweet about this topic.\" }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "maxTokens": 100,
          "temperature": 0.8
        }
      },
      "id": "f7a22168-5d3d-4c83-8757-16548815f646",
      "name": "Generate X Post",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        1936,
        208
      ],
      "credentials": {
        "openAiApi": {
          "id": "YHkpRJIsBiAhVDWb",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are a professional blog writer. Create informative blog summaries that:\n- Are 150-200 words\n- Have a clear introduction, body, and conclusion\n- Include key insights and data points\n- Are well-structured and easy to read\n- Provide value to the reader\n- Use a professional yet accessible tone"
            },
            {
              "content": "={{ \"Topic: \" + $(\"Prepare Research Context\").item.json.topic + \"\\n\\nResearch Context:\\n\" + $(\"Prepare Research Context\").item.json.research_summary + \"\\n\\nCreate a blog summary about this topic.\" }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "maxTokens": 400,
          "temperature": 0.7
        }
      },
      "id": "8c5fc664-e2b0-4195-b824-36e57b5940e3",
      "name": "Generate Blog Summary",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        2288,
        208
      ],
      "credentials": {
        "openAiApi": {
          "id": "YHkpRJIsBiAhVDWb",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "Topic",
              "value": "={{ $(\"Fetch Pending Topic\").first().json[\"Topic \"] }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "Status",
              "value": "Completed",
              "type": "string"
            },
            {
              "id": "3",
              "name": "LinkedIn_Post",
              "value": "={{ $(\"Generate LinkedIn Post\").item.json.output }}",
              "type": "string"
            },
            {
              "id": "4",
              "name": "X_Post",
              "value": "={{ $(\"Generate X Post\").item.json.output }}",
              "type": "string"
            },
            {
              "id": "5",
              "name": "Blog_Summary",
              "value": "={{ $(\"Generate Blog Summary\").item.json.output }}",
              "type": "string"
            },
            {
              "id": "6",
              "name": "Published_Date",
              "value": "={{ $now.toFormat(\"yyyy-MM-dd\") }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "51caa3a4-1b1e-4d7d-ba07-1dd5202446ea",
      "name": "Combine All Content",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2640,
        208
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1sL2pPvHiDDCk9DAROL-ppI-tHcno58z4z4NPw_m8zP4",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sL2pPvHiDDCk9DAROL-ppI-tHcno58z4z4NPw_m8zP4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sL2pPvHiDDCk9DAROL-ppI-tHcno58z4z4NPw_m8zP4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": 0
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "b4c55973-ed6a-49dd-9050-ec0076a39629",
      "name": "Update Google Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2864,
        208
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZQNrwvulmTZvS1cK",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "message",
              "value": "No pending topics found in the sheet",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f42272ca-6e7e-4b95-9ad0-08edcfa4fca7",
      "name": "No Topic Found",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        912,
        400
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Daily Content Schedule": {
      "main": [
        [
          {
            "node": "Fetch Pending Topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Pending Topic": {
      "main": [
        [
          {
            "node": "Check Topic Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Topic Exists": {
      "main": [
        [
          {
            "node": "Tavily Research",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Topic Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tavily Research": {
      "main": [
        [
          {
            "node": "Aggregate Research Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Research Data": {
      "main": [
        [
          {
            "node": "Prepare Research Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Research Context": {
      "main": [
        [
          {
            "node": "Generate LinkedIn Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate LinkedIn Post": {
      "main": [
        [
          {
            "node": "Generate X Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate X Post": {
      "main": [
        [
          {
            "node": "Generate Blog Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Blog Summary": {
      "main": [
        [
          {
            "node": "Combine All Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine All Content": {
      "main": [
        [
          {
            "node": "Update Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "88bc0f33-d765-4ad8-b74a-052fd51bbcb6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b14946722061487b9c35513dbe77279448f52d8f4eec84d387a6dbc071525c81"
  },
  "id": "tnafBmAwUW8V0Q3l",
  "tags": []
}